button {
	width: 100px;
	height: 50px;
	border-radius: 80px;
	background-color: cadetblue;
	color: blue;
	font-size: 30px;
}

body {
	background-color: rgb(59, 59, 59);
}

#picture {
	width: 500px;
	height: 500px;
}

#bip {
	font-size: 40px;
}
